@model DearWalletWebNovi.Models.Kreacija

@{
    ViewBag.Title = "Korpa";
}

<h2>Narudžbe</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cijena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdKorisnika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cijena)
        </td>
        <td>
            <button type="submit">Kupi</button>
        </td>
    </tr>
}

</table>
