@model DearWalletWebNovi.Models.OdjevniPredmet

@{
    ViewBag.Title = "Details";
    DearWalletWebNovi.Models.DearWalletContext db = new DearWalletWebNovi.Models.DearWalletContext();
}

<h2>Details</h2>

<table>
    <tr>
        <td colspan="2" style="width:800px;height:50px">Odjeca</td>
    </tr>
    @foreach (var detail in db.OdjevniPredmet)
    {
        <tr>
            <td>
                binary image
                @if (detail.Slika != null)
                {
                    var base64 = Convert.ToBase64String(detail.Slika);
                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                    <img src='@imgsrc' style="max-width:100px;max-height:100px" />}
                else
                {
                    <img src="~/img/avatar-default.jpg" style="max-width:100px;max-height:100px" />
                }
            </td>
        </tr>
        <tr>
            <td>
                <label> path image </label>
                @if (@detail.PSlika != null)
                {<img src="@detail.PSlika" width="100" height="100" />
                }
                else
                {
                    <img src="~/img/avatar-default.jpg" style="max-width:100px;max-height:100px" />
                }
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
