@model IEnumerable<DearWalletWebNovi.Models.OdjevniPredmet>

@{
    ViewBag.Title = "Odjeca";
}
<h2>Index</h2> @using (Html.BeginForm("Index", "OdjevniPredmets", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <table>
            <tr>
                <td style="width:80px;height:50px"><label>Fakat slika valjda</label><input type="file" name="file1" id="file1" style="width: 100%;"/> <br/><br/></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </div>      
}    