@model IEnumerable<DearWalletWebNovi.Models.OdjevniPredmet>

@{
    ViewBag.Title = "Search";
}

<h2>Pretraga odjece</h2>
@using (Html.BeginForm("Index", "OdjevniPredmets", FormMethod.Get))
{
    @Html.TextBox("trazi") <input type="submit" value="Trazi!" style="margin-top:20px" />

}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Slika</th>
            <th>Cijena</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">Šmrc, nema ničeg :(</td>
            </tr>
        }
        else
        {
            foreach (var i in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => i.Naziv)</td>
                    <td>@Html.DisplayFor(modelItem => i.Slika)</td>
                    <td>@Html.DisplayFor(modelItem => i.Cijena)</td>
                </tr>
            }
        }
    </tbody>
</table>
